.player-social-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/BackgroundDashBoardPlayer4.jpg');
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table-social{
    align-self: center;
    margin-bottom: 30%;
   
    background-color: rgba(255, 255, 255, 0.3);
    padding: 3rem;
    border-radius: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    
    overflow: scroll;
    
    overflow-x: hidden;
  }

.player-social-principal-grid {
    margin-top: 2%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    column-gap: 30%;
    
}

.player-social-p1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.player-social-p2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.player-social-p3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}



.player-social-agregar {
    margin-top: -2%;
    background-color: rgba(255, 255, 255, 0.823);
    padding: 1rem;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center
}

.player-social-head {
    margin-bottom: -2%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1rem;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center
}
